
<h2>Initiate a trade with {{receiver.username}}</h2>


<form class="initiate-trade-form" action="/trades/initiate/{{receiver._id}}" method="post">
    <div id="initiatorSideForm">
        <h4>Choose what you're sending</h4>
        {{#each initiator.inventory}}
            <input type="checkbox" id="initiator_{{@index}}" name="initiatorSending" value="{{this}}">
            <label for="initiator_{{@index}}">{{this}}</label><br>
        {{/each}}
    </div>

    <div id="receiverSideForm">
        <h4>Choose what you want to receive</h4>
        {{#each receiver.inventory}}
            <input type="checkbox" id="receiver_{{@index}}" name="receiverSending" value="{{this}}">
            <label for="receiver_{{@index}}">{{this}}</label><br>
        {{/each}}
    </div>
    <button type="submit">Initiate Trade</button>
</form>
<div class="initiate-trade-error">
</div>

{{#if serverErr}}
    <div class="initiate-trade-error-server">
        <p>{{serverErr}}</p>
    </div>
{{/if}}
<script src="../../public/js/initiate_trade_validation.js"></script>