<div class="container">

    <div class="row">
        <div class="col">
            <h3>Trades Pending Your Approval</h3>
            <hr>
            {{#if tradesPendingYou}}
                {{#each tradesPendingYou}}
                    <div class="card tradePendingYourApp">
                        <div class="card-body">
                            <p>Initiator: <a href="/users/{{initiatorUsername}}">{{initiatorUsername}}</a></p>
                            <p>Initiator Sending: {{initiatorSending}}</p>
                            <p>You're Sending: {{receiverSending}}</p>
                            <form class="approval-form" action="/trades" method="post">
                                <input type="hidden" name="tradeId" value={{_id}}>
                                <button class="approvalBtn" type="submit" name="action" value="approve">Approve</button>
                                <button class="declineBtn" type="submit" name="action" value="decline">Decline</button>
                            </form>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div id="noTradesPendingYourApp">
                    <p>No trades pending your approval</p>
                </div>
            {{/if}}
        </div>
        <div class="col">
            <h3>Trades Pending Others' Approval</h3>
            <hr>
            {{#if tradesPendingOthers}}
                {{#each tradesPendingOthers}}
                    <div class="card tradePendingOthersApp">
                        <div class="card-body">
                            <p>Receiver: <a href="/users/{{receiverUsername}}">{{receiverUsername}}</a></p>
                            <p>You're Sending: {{initiatorSending}}</p>
                            <p>Receiver Sending: {{receiverSending}}</p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div id="noTradesPendingOthersApp">
                    <p>No trades pending others' approval</p>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <h3>Your Approved Trades</h3>
        <hr>
        {{#if yourApprovedTrades}}
            {{#each yourApprovedTrades}}
                <div class="card yourApprovedTrades">
                    <div class="card-body">
                        <p>Initiator: <a href="/users/{{initiatorUsername}}">{{initiatorUsername}}</a></p>
                        <p>Initiator Sending: {{initiatorSending}}</p>
                        <p>Receiver: <a href="/users/{{receiverUsername}}">{{receiverUsername}}</a></p>
                        <p>Receiver Sending: {{receiverSending}}</p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div id="noApprovedTrades">
                <p>No approved trades</p>
            </div>
        {{/if}}
    </div>
    




</div>
<script src="../../public/js/approve_decline_validation.js"></script>
