<h1>Meet the people that have the seemingly-not-rare items you want!</h1>

<h2>Filter Your Users!</h2>
<form method="get" action="/matches" id="user-filter-form">
    <label for="originCountryCode">Country Code</label>
    <input type="text" id="originCountryCode" name="originCountryCode">
    <button type="submit" id="filter" form="user-filter-form">Filter</button>
    <div class="errorbox" id="errorbox">
        {{error}}
    </div>
</form>

<ol>
    {{#each users}}
    <li>
        <a href="/user/{{this.username}}">{{this.username}}</a>
        <p>Country Code: {{this.countryCode}}</p>
        <p>Matches with your wishlist: {{this.wishlistMatches}}</p>
    </li>
    {{/each}}
</ol>

<a id="homepageLink" href="/homepage" class="homepagelink">Home Page</a>

<script src="../../public/js/user_filter_validation.js" type="module"></script>