
<h1>{{user.username}}</h1>
<h2>{{user.countryCode}}</h2>
{{#if user.discord}}
<p>Discord: {{user.discord}}</p><br>
{{/if}}
{{#if user.phone}}
<p>Phone Number: {{user.phone}}</p><br>
{{/if}}
{{#if user.email}}
<p>Email Address: {{user.email}}</p><br>
{{/if}}
{{#if user.displayWishlist}}
    <ol>
    {{#each user.wishlist}}
        <li>
            {{this}}
        </li>
    {{/each}}
    </ol>
{{/if}}
<h3>Average Rating: {{avgRating}}</h3>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 tabindex="0">{{user.username}}</h1>
                    <div class="user-info">
                        <p>Sending from {{user.countryCode}}</p>
                        {{#if user.discord}}
                            <p>Discord: {{user.discord}}</p>
                        {{/if}}
                        {{#if user.phone}}
                            <p>Phone Number: {{user.phone}}</p>
                        {{/if}}
                        {{#if user.email}}
                            <p>Email Address: {{user.email}}</p>
                        {{/if}}
                    </div>
                    {{#if user.displayWishlist}}
                        <h3>Wishlist:</h3>
                        <ol>
                            {{#each user.wishlist}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ol>
                    {{/if}}

                    <div class="comments-section">
                        <h3>Comments:</h3>
                        {{#each user.profileComments}}
                            <div class="comment-container">
                                <h4>{{this.commenterUsername}}</h4>
                                <p>{{this.text}}</p>
                                {{#if this.userReply}}
                                    <div class="user-reply">
                                        <h5>{{user.username}}'s reply:</h5>
                                        <p>{{this.userReply}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>

                </div>

            </div>
            
        </div>
    </div>
</div>
