<div class="container">
    <div class="row">
        <div class="col user-page-links-btns">
            <a href="{{user.username}}/reviews" class="btn btn-primary">See this user's reviews</a>
            <a href="/grow/{{user._id}}" class="btn btn-primary">See this user's grow log</a>
            <a href="/trades/initiate/{{user._id}}" class="btn btn-primary">Initiate a trade with this user</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 id="Users_Name" tabindex="0">{{user.username}}</h1>
                    <div class="user-info">
                        <p>Sending from {{user.countryCode}}</p>
                        {{#if user.discord}}
                            <p>Discord: {{user.discord}}</p>
                        {{/if}}
                        {{#if user.phone}}
                            <p>Phone Number: {{user.phone}}</p>
                        {{/if}}
                        {{#if user.email}}
                            <p>Email Address: {{user.email}}</p>
                        {{/if}}
                    </div>
                    {{#if user.displayWishlist}}
                        <h3>Wishlist:</h3>
                        <ol>
                            {{#each user.wishlist}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ol>
                    {{/if}}

                </div>
            </div> 
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <h3>Comments:</h3>
            <div class="card">
                <div class="card-body">
                    <form action="/user/{{user.username}}/comment" id="comment-form" method="POST">
                        <div class="form-group">
                            <label for="comment">Add a comment:</label>
                            <textarea class="form-control form-control-sm" id="comment" name="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{#if errField}}
                            <p class="error">{{errField}}</p>
                        {{/if}}
                        <div id="errorbox"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="User_Comment_List">
            {{#each user.profileComments}}
                <div class="card">
                    <div class="card-body">
                        <a href="/user/{{this.commenterUsername}}" tabindex="0"> <h4>{{this.commenterUsername}}</h4> </a>
                        <p>{{this.text}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../../public/js/comment_validation.js"></script>